<!DOCTYPE html>
<style>
  .center {
  	text-align: center;
  	margin: 0 auto;
  	width: 500px;
  }

  .bottom {
  	position: fixed;
  	bottom: 0;
  }

  .left {
    text-align: left;
    margin: 0 auto;
    width: 1000px;
  }
</style>

<html>
  <head>
  	<title>Twitter Search Engine</title>
  </head>
  <body style="background-color:lightblue;">
  	<div class="center">
  	  <h1>Twitter Search Engine</h1>
  	  <form method="POST">
  	  	<input name="text">
  	  	<input type="submit">
  	  </form>
  	</div>
    {% block results %} 
    {% endblock %}

  </body>
  {% block created %}
  <body>
  	<div class="bottom">
  	  <h3><u>Created by</u></h3>
  	  <ul style="list-style-type:none;">
  	  	<li>Hongchao Yu</li>
  	  	<li>Deven Fafard</li>
  	  	<li>Minwhan Oh</li>
  	  	<li>Saikrishna Reddy</li>
  	  </ul>
  </body>
  {% endblock %}
</html>
